*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  border-top: 18vh solid #009688;
  background: #DBDBD3  ;
}

#container{
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 80vw;
  background: lightgrey;
  display: flex;
}

/* CONTACTS */
.contacts{
  width: 35%;
  height: 100%;
}

/* TITLE-CONTACTS */
.title-contacts{
  height: 10%;
  background: #EAEAEA;
  display: flex;
  justify-content: space-between;
}

.user, .addressee{
  height: 100%;
  display: flex;
  align-items: center;
}

.user img{
  height: 85%;
  margin-left: 10px;
}
.user h4{
  margin-left: 10px;
}

.icons{
  display: flex;
  align-items: center;
}

.icons i{
  margin: 0 5px;
  color: #B1B1B1;
  font-size: 18px;
}
.icons i:hover{
  color: #727272;
  cursor: pointer;
}
.icons i:last-child{
  margin-right: 10px;
}
/* /TITLE-CONTACTS */

/* SILENT */
.silent{
  height: 10%;
  background: #8EDAFC;
  display: flex;
  align-items: center;
}

.icon-container{
  background: #F2FBFF;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.icon-container i{
  color: #8EDAFC;
}

.text{
  margin-left: 10px;
}
.text .received-notification{
  color: #3F6078;
  font-size: 14px;
}
.text .desktop-notification{
  color: #74A6C0;
  font-size: 12px;
  text-decoration: underline;
}
/* /SILENT */

/* SEARCH */
.search{
  height: 6%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border-top: 1px solid lightgrey;
}

.search-icon{
  border: 0;
  background: white;
  width: 20%;
  height: 100%;
  color: #C0BFBF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon:hover{
  background: #F4F5F5;
  cursor: pointer;
  color: #8EDAFC;
}

.search input{
  height: 100%;
  width: 80%;
  border: 0;
}
.search input:focus{
  outline: none;
  height: 100%;
  border: 2px solid #8EDAFC;
  border-radius: 5px;
}
/* CAMBIO COLORE PLACEHOLDER CROSS-BROWSER */
::-webkit-input-placeholder { /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
    color: #BBB7BF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #BBB7BF;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #BBB7BF;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #BBB7BF;
}
/* /CAMBIO COLORE PLACEHOLDER CROSS-BROWSER */
/* /SEARCH */

/* CONTACT-LIST */
.contacts-list{
  background: #FFFFFF;
  height: 74%;
  width: 100%;
}

.contact-list ul{
  width: 100%;
}

.contacts-list li{
  border-top: 1px solid lightgrey;
  list-style: none;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.contacts-list li:last-child{
  border-bottom: 1px solid lightgrey;
}
.contacts-list li:hover{
  cursor: pointer;
  background: #F4F5F5;
}
.active{
  background: #E9EBEB;
}
.active:hover{
  background: #E9EBEB;
}

li img{
  width: 12%;
  margin-left: 20px;
}

.name{
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  padding-right: 20px;
  width: calc(88% - 40px);
}
.last-msg, .last-access{
  font-weight: 400;
  font-size: 12px;
  color: #C8C6C7;
}
.last-msg{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CHAT */
.chat{
  width: 65%;
  height: 100%;
  background-image: url("../img/sfondo-whatsapp.png");
  background-size: contain;
  position: relative;
}

/* TITLE-CHAT */
.title-chat{
  height: 10%;
  background: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addressee img{
  height: 85%;
  margin-left: 10px;
}
/* /TITLE-CHAT */

/* MESSAGE */
.clearfix{
  height: calc(90% - 10vh);
  overflow-y: auto;
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.message{
  margin: 10px 30px;
  padding: 20px;
  width: 40%;
  min-height: 10vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  }
.sent{
  background: #D5F9BA;
  float: right;
  clear: both;
}
.received{
  background: #FFFFFF;
  float: left;
  clear: both;
}

.popup{
  width: 200px;
  background: #E9EBEB;
  border-radius: 5px;
  color: grey;
  position: absolute;
  top: 7vh;
  right: 8px;
  z-index: 2;
}

.popup i{
  position: absolute;
  right: 5px;
  top: -20px;
}

.popup ul{
  list-style: none;
  text-align: center;
  margin: 5px 0;
}

.popup li{
  margin: 0 10px;
  padding: 5px 0;
}
.popup li:last-child{
  border-top: 1px solid grey;
}
.popup li:hover{
  background: white;
  cursor: pointer;
}

.date-hour{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #B6BABB;
}
/* /MESSAGE */

/* SCRIVI MESSAGGIO */
.write{
  width: 100%;
  height: 10vh;
  background: #F3EEEA;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.smile, .vocal{
  width: 10%;
  line-height: 10vh;
  text-align: center;
  font-size: 25px;
  color: #727272;
  cursor: pointer;
}
.smile:hover, .vocal:hover {
  color: #8EDAFC;
}
.write input{
  height: 80%;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
}
.write input:focus{
  outline: none;
  border: 2px solid #8EDAFC;
}
/* /SCRIVI MESSAGGIO */
