<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="container">
      <div class="contacts">

        <div class="title-contacts">
          <div class="user">
            <img src="img/batman.png" alt="">
            <h4>Batman</h4>
          </div>
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comments"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="silent">
          <div class="icon-container">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="text">
            <div class="received-notification">
              Ricevi notifiche di nuovi messaggi
            </div>
            <div class="desktop-notification">
              Attiva notifiche desktop
            </div>
          </div>
        </div>

        <div class="search">
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>

          <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
        </div>

        <div class="contacts-list">
          <ul>
            <li v-for="(contact, index) in contacts" @click="selectedContact(contact, index)" :class="(active == index) ? 'active' : ''">

              <img :src="contact.avatar" alt="">

              <div class="name">
                {{contact.name}}
                <div class="last-msg">
                  {{contact.messages[contact.messages.length-1].text}}
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>

      <div class="chat">
        <div class="title-chat">
          <div class="addressee">
            <img :src="changeAvatar()" alt="">
            <div class="name">
              {{changeName()}}
              <div class="last-access">
                Ultimo accesso il {{getMessageDate()}}
              </div>
            </div>
          </div>

          <div class="icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="clearfix">
          <div v-for="(message, index) in contacts[active].messages" class="message" :class="message.status">
            {{message.text}}
            <div class="date-hour">
              {{message.date}}
            </div>
          </div>
        </div>


        <div class="write">
          <div class="smile">
            <i class="far fa-smile"></i>
          </div>
          <input @keydown="sendMessage()" v-model="contacts[active].inputText" type="text" name="" value="" placeholder="Scrivi messaggio">
          <div class="vocal">
            <i class="fas fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
